:root {
  /* Кольори */
  --white-color: #ffffff;
  --blue-color: #2196f3;
  --grey-color: #2f303a;
  --black-color: #000000;
  --primary-black-color: #212121;
  --secondary-grey-color: #757575;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --footer-white-color: rgba(255, 255, 255, 0.1);
  --occasional-grey-color: #f5f4fa;
  --media-icon-grey-color: #afb1b8;

  /* Шрифти */
  --roboto: 'Roboto', sans-serif;
  --raleway: 'Raleway', sans-serif;
}

body {
  background-color: var(--white-color);
  color: var(--primary-black-color);
  font-family: var(--roboto);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

/* Утилітні класи */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: var(--primary-black-color);
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.bg-grey {
  background-color: var(--occasional-grey-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.header-main {
  border-bottom: 1px solid #ececec;
}

.logo {
  padding: 24px 0 25px 0;
  margin-right: 93px;
  color: var(--blue-color);
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo > span {
  color: var(--black-color);
}

.nav .link,
.nav-links .link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-links .link {
  color: var(--secondary-grey-color);
}

.link.active,
.nav .link:hover,
.nav .link:focus,
.nav-links .link:hover,
.nav-links .link:focus {
  color: var(--blue-color);
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav,
.nav-links,
.nav-menu,
.page-header {
  display: flex;
  align-items: center;
}

.nav-links {
  margin-left: auto;
}

.nav li,
.nav-links li {
  margin-left: 50px;
}

.nav li:first-child,
.nav-links li:first-child {
  margin-left: 0;
}

/* Main */

/* Hero */

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg-img.jpg');
  background-position: center;
  background-size: cover;
  background-color: var(--grey-color);
  text-align: center;
}

.hero-heading {
  margin: 0 auto 30px;
  max-width: 696px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero button {
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Features */

.content h2 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.features {
  padding-bottom: 0;
}

.features h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p {
  color: var(--secondary-grey-color);
  font-size: 14px;
  line-height: 1.71;
}

.features-list,
.activities-list,
.team-list {
  display: flex;
  justify-content: space-between;
}

.features-list li {
  flex-basis: calc((100% - 90px) / 4);
}

.feature {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
}

/* Activities and Team Members */

.activities-list img,
.team-list img {
  display: block;
}

.team {
  line-height: 1.19;
  text-align: center;
}

.team-list > li {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.team p {
  margin-bottom: 16px;
  color: var(--secondary-grey-color);
}

.team-member-icons {
  display: flex;
  justify-content: center;
}

.team-member-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.team-member-icons li:last-child {
  margin-right: 0;
}

.team-member-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--media-icon-grey-color);
}

.team-member-link:hover,
.team-member-link:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.media-icon {
  fill: currentColor;
}

/* Clients */

.client-list {
  display: flex;
  justify-content: center;
}

.client-item {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.client-item li:last-child {
  margin-right: 0;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--media-icon-grey-color);
  border: 1px solid var(--media-icon-grey-color);
  border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
  color: var(--blue-color);
  border-color: var(--blue-color);
}

.client-icon {
  fill: currentColor;
}

/* Portfolio Filter */

.filter-list {
  padding-left: 0;
  margin: 0 0 50px;
  display: flex;
  justify-content: center;
}

.filter-list li {
  margin-left: 8px;
}

.filter-list .bg-grey {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.filter-list .main-btn {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
}

.filter-list .bg-grey.active,
.filter-list .bg-grey:hover,
.filter-list .bg-grey:focus {
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
}

/* Portfolio Projects */

.projects h1,
.projects h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects p {
  color: var(--secondary-grey-color);
  line-height: 1.88;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-list li {
  flex-basis: calc((100% - 60px) / 3);
}

.project-list img {
  display: block;
}

.project-list h2 {
  margin-bottom: 4px;
}

.project {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-link {
  display: block;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--grey-color);
  letter-spacing: 0.03em;
}

.footer-sections {
  display: flex;
  align-items: baseline;
}

.address-section {
  margin-right: 70px;
}

.footer-logo {
  margin-bottom: 20px;
  display: block;
  color: var(--blue-color);
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo > span,
.contact:hover,
.contact:focus {
  color: var(--white-color);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-contacts li {
  margin-bottom: 9px;
}

.footer-contacts li:last-child {
  margin-bottom: 0;
}

.contact {
  color: var(--secondary-white-color);
}

/* Footer Links */

.footer-heading {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.footer-icons {
  display: flex;
}

.footer-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--white-color);
  background-color: var(--footer-white-color);
  border-radius: 50%;
}

.footer-icons li:last-child {
  margin-right: 0;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--blue-color);
}

.footer-media-icon {
  fill: currentColor;
}
